.two,.three{
    display: none;
}
.but{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    position: -webkit-sticky;
    background-color: white;

}

button{
    width:70px;
    height:70px;
    margin:30px;
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    border:10px solid rgb(159, 159, 159);
    color: transparent;

}
button:hover{
    cursor: pointer;
}
.divs{
    font-size: large;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
}